/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  background: #ecf2f8;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

.wrap {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 800px) {
  .wrap {
    height: auto;
  }
}

@media (max-width: 350px) {
  .wrap {
    padding: 20px;
  }
}

.card {
  background: #fff;
  height: 260px;
  max-width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 30px #ccc;
          box-shadow: 0 20px 30px #ccc;
}

@media (max-width: 800px) {
  .card {
    height: auto;
    max-width: 330px;
    margin: 50px auto;
    display: block;
  }
}

.card_image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
  background-image: url("../images/drawers.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 330px;
  border-radius: 10px 0 0 10px;
}

@media (max-width: 800px) {
  .card_image {
    height: 210px;
    background-position: center -10px;
    border-radius: 10px 10px 0 0;
  }
}

.card_text {
  padding: 30px 40px;
  position: relative;
}

@media (max-width: 800px) {
  .card_text {
    padding: 15px 36px;
  }
}

@media (max-width: 350px) {
  .card_text {
    padding: 15px 30px;
  }
}

.card_text > p {
  color: #6d7f97;
  line-height: 1.5;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .card_text > p {
    padding-bottom: 30px;
  }
}

h1 {
  color: #48556a;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 17px;
    padding-top: 15px;
  }
}

.card_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_author > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.author_text h2 {
  color: #48556a;
  line-height: 20px;
}

.author_text p {
  color: #9eafc2;
  line-height: 20px;
}

.author_share a {
  width: 30px;
  height: 30px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecf2f8;
  border-radius: 50%;
  color: #48556a;
  font-size: 13px;
}

.author_share a:hover {
  background-color: #6d7f97;
  color: #fff;
}

.author_floatBox {
  position: absolute;
  top: 130px;
  left: 270px;
  background: #48556a;
  color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 8px #ccc;
          box-shadow: 0 3px 8px #ccc;
}

@media (max-width: 800px) {
  .author_floatBox {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 15px 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.author_floatBox > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author_floatBox::after {
  content: '';
  position: absolute;
  top: 37px;
  left: 89.23px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #48556a transparent transparent transparent;
}

@media (max-width: 800px) {
  .author_floatBox::after {
    display: none;
  }
}

.author_floatBox p {
  text-transform: uppercase;
  color: #9eafc2;
  margin: 0 6px;
  letter-spacing: 4px;
}

.author_floatBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.author_floatBox li a {
  font-size: 15px;
  margin: 6px;
}

@media (max-width: 800px) {
  .author_floatBox li a {
    font-size: 18px;
    margin: 0 10px;
  }
}

@media (max-width: 350px) {
  .author_floatBox li a {
    margin: 0 6px;
  }
}

.author_floatBox li a:hover {
  color: #ecf2f8;
}

.wrap .author_floatBox_share {
  display: none;
}

@media (max-width: 800px) {
  .wrap .author_floatBox_share {
    display: block;
  }
  .wrap .author_floatBox_share a {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    font-size: 13px;
    background-color: #6d7f97;
    color: #fff;
  }
}

.wrap .hidden {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 40px;
}

.attribution a {
  display: inline-block;
  color: #3e52a3;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */